.controllers {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: 1rem 0;
}

.controllers-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.controllers button {
  width: 3.5rem;
  height: 3rem;
  border-radius: 0.5rem;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: none;
  cursor: pointer;
}

.controllers button:hover {
  background: #555;
}
